@{
    ViewBag.Title = "Show Table";
}
@model IEnumerable<NET_Students_Database_Example.Models.Student>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                Име
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
                Оценка
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </tbody>
</table>

